/* Con este primer estilo recetesmos los estilos de todos los elementosdel html*/
*{
    padding: 0;
    margin: 0;
    background-color:rgb(39, 38, 38);
}
/*TITILO*/
#titulo{
margin: auto;
width: 205px;
height: 40px;
color: white;
}
/*LOGO*/
div#Logo{
background: url(https://1.bp.blogspot.com/-zcVdm6Mlyfg/YL2Ppa68DUI/AAAAAAAALBY/jyRN1e_hvcchjaXpbW7a5vyKjnnBV9I4ACLcBGAsYHQ/s52/Captura.JPG);
margin: auto;
width: 50px;
height: 50px;
}
/*SUBTITULO*/
#subTitulo{
    margin: auto;
    width: 113px;
    height: 50px;
    color: white;
}
#central{
    background-color: tomato;
    max-width: 100%;
}

.central{
    display: block;
    margin: 15px;
    width: 250px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px; 
    float: left;
}

/*MENU IZQUIERDO*/
#menu1{
    background-color: grey;  
    border:solid red 5px;
}
/*CARRUSEL*/
#scroll{
    background-color: grey;
    margin-left: 10px;
    margin-right: 10px;
    height: 500px;
    width: 620px;
}
/*MENU DERECHO*/
#menu2{
    border:solid red 5px;
    background-color: grey;
}